<span class="card-title">
    Contact Us
</span>

<div class="row container">
    <div>
        <div class="input-field col m4" >
            <i class="material-icons prefix">question_answer</i>
            <input id="contact_topic" type="text" >
            <label for="contact_topic">Topic</label>
        </div>

        <div class="input-field col m4" >
            <i class="material-icons prefix">people</i>
            <input id="contact_name" type="text" >
            <label for="contact_name">Name</label>
        </div>

        <div class="input-field col m4" >
            <i class="material-icons prefix">email</i>
            <input id="contact_email" type="email" >
            <label for="contact_email">Email</label>
        </div>

        <div class="input-field col m12" >
            <textarea id="contact_message" class="materialize-textarea"></textarea>
            <label for="contact_message">Message</label>
        </div>


    </div>






</div>

<a class="btn right" id="post_contact_us">Submit</a>

<script src="{{ .Site.BaseURL }}js/contactus.js"></script>
