<div class="container">
    <h5 class="flow-text">Downloads</h5>
    <div class="divider"></div>
    <p>
    <div class="">
        <b>ngcore</b> <a href="https://github.com/ngchain/ngcore" class="btn right">Run YOUR Node!</a>
        - brand-new golang daemon implement of NGIN node
    </div>

    <div class="section">
        <h5 class="flow-text">How to serve a node?</h5>
        <div class="divider"></div>
        <p>
            See the daemon usage in <a href="https://github.com/ngchain/ngcore#usage">github</a>
        </p>
    </div>

    <div class="section">
        <h5 class="flow-text">How to bootstrap a forknet?</h5>
        <div class="divider"></div>
        <p>
            See the tutorial in <a href="https://github.com/ngchain/ngcore#run-a-ngin-forknet">github</a>
        </p>
    </div>

    <div class="section" hidden>
        <h5 class="flow-text">How to write and deploy dApp?</h5>
        <div class="divider"></div>
        <p>
            WASM
        </p>
    </div>
    </p>
</div>