<div class="container">
    <div class="section">
        <h5 class="flow-text">NGIN works for enterprise?</h5>
        <div class="divider"></div>
        <p>
            We maintain a fork of ngcore called <a href="https://github.com/ngchain/ngbiz">ngbiz</a> which aiming the enterprise level blockchain platform.
            <br>
            <br>
            Enterprise can clone the codebase of ngbiz and then edit the configurations like chain name and some magic numbers to build a union chain or private chain which deploys and runs blockchain-powered decentralized applications.
            <br>
            <br>
            The ngbiz(means NGIN Business) is a new try for union chain based on ngcore's codebase, within which we use PBFT replacing PoW consensus.
        </p>
    </div>
</div>