    
    
    <!-- Compiled and minified JavaScript -->
    <script src="{{ .Site.BaseURL }}js/materialize.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            M.AutoInit();
        });
    </script>

    <!-- scripts -->
    <script async src="https://unpkg.com/typer-dot-js@0.1.0/typer.js"></script> 
    <script src="{{ .Site.BaseURL }}js/particles.js"></script>
    <script src="{{ .Site.BaseURL }}js/app.js"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</body>

</html>