<!DOCTYPE html>
  <!--[if lt IE 7 ]><html class="no-js ie6"><![endif]-->
  <!--[if IE 7 ]><html class="no-js ie7"><![endif]-->
  <!--[if IE 8 ]><html class="no-js ie8"><![endif]-->
  <!--[if IE 9 ]><html class="no-js ie9"><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
  <head {{ with .Site.LanguageCode }}lang="{{ . }}"{{ end }}>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=10" />
        <title>{{ .Title }}{{ if not .IsHome }} - {{ .Site.Title }}{{ end }}</title>

        {{ with .Site.Params.description }}
        <meta name="description" content="{{ .Description }}">
        {{ end }}
        <link rel="canonical" href="{{ .Permalink }}">
        {{ with .Site.Params.author }}
        <meta name="author" content="{{ . }}">
        {{ end }}

        <meta property="og:url" content="{{ .Permalink }}">
        {{ with .Site.Title }}<meta property="og:title" content="{{ . }}">{{ end }}
        {{ with .Site.Params.logo }}<meta property="og:image" content="{{ . | absURL }}">{{ end }}
        {{ with .Site.Title }}<meta name="apple-mobile-web-app-title" content="{{ . }}">{{ end }}
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

        <link rel="shortcut icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | absURL }}{{ else }}{{ "images/favicon.ico" | absURL }}{{ end }}">
        <link rel="icon" type="image/x-icon" href="{{ with .Site.Params.favicon }}{{ . | absURL }}{{ else }}{{ "images/favicon.ico" | absURL }}{{ end }}">

        <link rel="stylesheet" media="screen" href="/css/materialize.css">
        <link rel="stylesheet" media="screen" href="/css/style.css">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" >
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap" />
    
    </head>
    <body>
