<div class="container">
    <div class="section">
        <h5 class="flow-text">Downloads</h5>
        <div class="divider"></div>
        <p>
            <div class="">
                <b>ngwallet</b> <a href="https://github.com/ngchain/hawkhover" class="btn right">Open Your CLI Wallet!</a>
                - simple CLI wallet based on dart
            </div>
        
            <br>
        
            <div class="">
                <b>hawkhover</b> <a href="https://github.com/ngchain/hawkhover" class="btn right pulse">Open Your GUI Wallet!</a>
                - cross-platform GUI wallet based on flutter
            </div>
        </p>
    </div>

    <div class="section" hidden>
        <h5 class="flow-text">Start mining?</h5>
        <div class="divider"></div>
        <p>
        </p>
    </div>

    <div class="section" hidden>
        <h5 class="flow-text">Take a transaction?</h5>
        <div class="divider"></div>
        <p>
        </p>
    </div>

</div>
