<div class="container">

    <div class="section">
        <h5 class="flow-text">What is NGIN?</h5>
        <div class="divider"></div>
        <p>
            NGIN is a radically updating brand-new blockchain network, which is not a fork of ethereum or any other
            chain.
            <br>
            <br>
            NGIN's goal is to build a blockchain engine which acts more auditable, scalable, security-oriented and
            supports more network tasks with vm.
            <br>
            <br>
            NGIN uses modern models - Vault(Block), Account, Multi-type Tx models to build the
            blockchain ecosystem. And NGIN strictly follow the idea of blockchain, locking items with hash to keep
            engine work safely. Not only blockchain, but Vault(Block) will also link up to be a chain for account
            security and powerful functions like fast ignition, free account state and so on. So It's safe and robust
            like bitcoin and ethereum but more scalable and powerful on the node's operational capacity and p2p
            network's speed and performance.
        </p>
    </div>

    <div class="section" hidden>
        <h5 class="flow-text">Guides & Resources?</h5>
        <div class="divider"></div>
        <p>
            Wiki page
        </p>
    </div>

    <div class="section" hidden>
        <h5 class="flow-text">Where is community?</h5>
        <div class="divider"></div>
        <p>
            Telegram
        </p>
    </div>
</div>