{{ partial "head" . }}

{{ partial "header" . }}

<nav
    style="background-color: rgb(0,0,0,0);     box-shadow: 0 0 0 0 rgb(0,0,0,0); -webkit-box-shadow: 0 0 0 0 rgb(0,0,0,0);">
    <a href="#" class="sidenav-trigger right" data-target="slide-out" style="color: #727272;"><i
            class="material-icons">menu</i></a>
</nav>

{{ partial "sidebar" . }}

<div class="container">
    <div class="row">
        <!-- <div class="col offset-m3 m6"> -->
        <div class="card card-large">

            <div class="card-content">
                <span class="card-title">
                    <div class="logo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> <b>{{ i18n "name" . }}</b>
                    <ˈenjən> is
                </span>
                <div class="container center ">
                    <p class="flow-text ">
                        <h1><b>N</b><span class="typer" data-words="ext,ew,atty,ice,erve,eat" data-delay="100"
                                data-deleteDelay="3333"></span> <b>G</b><span class="typer"
                                data-words="eneration,ate,em,ateway,enerator" data-delay="100"
                                data-deleteDelay="4000"></span> of <b>I</b>nter<b>N</b><span class="typer"
                                data-words="et,ationalization" data-delay="100" data-deleteDelay="9000"></span>. <br></h1>
                    </p>
                
                    <br>
                        <p class=" flow-text">
                            Decentrailized Application Engine based on Blockchain Ecosystem
                                <br>
                                <br>

                        </p>
                </div>

            </div>
            <div class="card-tabs">
                <ul class="tabs tabs-fixed-width">
                    <li class="active tab ">
                        <a class="black-text flow-text" href="#intro">Intro</a>
                    </li>

                    <li class="tab ">
                        <a class="black-text flow-text" href="#individuals">Individuals</a>
                    </li>

                    <li class="tab ">
                        <a class="black-text flow-text" href="#developers">developers</a>
                    </li>

                    <li class="tab ">
                        <a class="black-text flow-text" href="#enterprise">enterprise</a>
                    </li>

                    <li class="tab">
                        <a class="black-text flow-text" href="https://paper.ngin.cash/" target="_blank">Paper</a>
                    </li>
                    <li class="tab">
                        <a class="black-text flow-text" href="/ngweekly" target="_blank">Weekly</a>
                    </li>
                </ul>
            </div>
            <div class="card-content">
                <div id="intro">
                    {{ partial "intro" . }}
                </div>

                <div id="individuals">
                    {{ partial "individuals" . }}
                </div>

                <div id="developers">
                    {{ partial "developers" . }}
                </div>

                <div id="enterprise">
                    {{ partial "enterprise" . }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-large">
            <div class="card-content">
            {{ partial "contact" . }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card card-large">
            <div class="card-content">
            {{ partial "footer" . }}
            </div>
        </div>
    </div>
</div>
</div>

{{ partial "foot" . }}